<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shsxt.crm.dao.LogDao" >
  <resultMap id="BaseResultMap" type="com.shsxt.crm.po.Log" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="method" property="method" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="request_ip" property="requestIp" jdbcType="VARCHAR" />
    <result column="exception_code" property="exceptionCode" jdbcType="VARCHAR" />
    <result column="exception_detail" property="exceptionDetail" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="execute_time" property="executeTime" jdbcType="INTEGER" />
    <result column="create_man" property="createMan" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.shsxt.crm.po.LogWithBLOBs" extends="BaseResultMap" >
    <result column="params" property="params" jdbcType="LONGVARCHAR" />
    <result column="result" property="result" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, description, method, type, request_ip, exception_code, exception_detail, create_date, 
    execute_time, create_man
  </sql>
  <sql id="Blob_Column_List" >
    params, result
  </sql>



  <insert id="save" parameterType="com.shsxt.crm.po.LogWithBLOBs" >
    insert into t_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="method != null" >
        method,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="requestIp != null" >
        request_ip,
      </if>
      <if test="exceptionCode != null" >
        exception_code,
      </if>
      <if test="exceptionDetail != null" >
        exception_detail,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="executeTime != null" >
        execute_time,
      </if>
      <if test="createMan != null" >
        create_man,
      </if>
      <if test="params != null" >
        params,
      </if>
      <if test="result != null" >
        result,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="method != null" >
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="requestIp != null" >
        #{requestIp,jdbcType=VARCHAR},
      </if>
      <if test="exceptionCode != null" >
        #{exceptionCode,jdbcType=VARCHAR},
      </if>
      <if test="exceptionDetail != null" >
        #{exceptionDetail,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="executeTime != null" >
        #{executeTime,jdbcType=INTEGER},
      </if>
      <if test="createMan != null" >
        #{createMan,jdbcType=VARCHAR},
      </if>
      <if test="params != null" >
        #{params,jdbcType=LONGVARCHAR},
      </if>
      <if test="result != null" >
        #{result,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

</mapper>